<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.olivia.studio">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.NoActionBar">
        <activity
            android:name=".SplashScreenCerrarSesionActivity"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>
        <activity
            android:name=".SplashScreenInicioSesionActivity"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".activity_activity3_registro_alum"
            android:exported="false"></activity>
        <activity
            android:name=".MainActivity2"
            android:exported="false"></activity> <!-- @style/Theme.OliviaStudio -->
        <activity
            android:name=".Categoria_Docente"
            android:exported="false" />
        <activity
            android:name=".Activity_Perfil_Estudiante"
            android:exported="false" />
        <activity
            android:name=".SplashScreenPerfilDocenteActivity"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".SplashScreenPerfilAlumnoActivity"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".InicioActivity"
            android:exported="false" />
        <activity
            android:name=".PerfilDocenteActivity"
            android:exported="false" />
        <activity
            android:name=".RegistroDocenteActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".BienvenidaActivity"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>